a[role="button"] {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  background: transparent;
  color: white;
}

a[role="button"]:hover {
  color: rgb(74, 84, 245);
  background: white;
}

nav + div > div:nth-child(2) {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

section[data="[object Object]"] > div:nth-child(2) {
  width: 100%;
  text-align: left;
  padding: 5% 20%;
  /* background-color: #e3e3e3; */
  margin: 0px;
  color: #4a4a4a;
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  nav + div {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  nav + div > div {
    width: 100%;
    flex-grow: 1;
  }

  nav + div > div:nth-child(2) {
    height: 52vh;
    width: 80vw;
  }

  section[data="[object Object]"] > div:first-child {
    height: 100vh;
    padding: 0px;
  }
}
